/*TOP MENU*/

.home_side_menu_button_sel a {
	background-color: #fff;
    margin:0;
    padding:0;
    text-decoration:none;
}

.home_side_menu_button_sel a span {
    display:block;
	margin:0;
    padding:0;
	background-color: #fff;
    color:#000;
	text-decoration:none;
	/*border-bottom: 1px dashed #f00;*/

      }

/**********SUB MENU ********/

.main_tabs_link_div_sel a {
	background-color: #fff;
    margin:0;
    padding:0;
    text-decoration:none;
	
}	  
.main_tabs_link_div_sel a span {
    display:block;
	margin:0;
    padding:0;
	background-color: #fff;
    color:#000;
	text-decoration:none;

}
